<!DOCTYPE html>
<html>
<head>
        <title>Prototype HTML Login</title>
        <style>
                input{
                        font-size: 150%;
                }
                #errorLabel{
                        color:red;
                }
                #myProgress {
                        border:2px black;
                        margin: 0 auto;
                        width: 300px;
                        background-color: whitesmoke;
                        border-style:inset;
                }

                #myBar {
                        width: 0%;
                        height: 30px;
                        background-color: green;
                }
                /*new*/
                input, input[placehorder] {
			font-family: 'Arial';
			text-align: center;
			height:40px;
			outline: none;
			background-color: whitesmoke;
			border: 0;
		}
		input:focus {
			text-align: center;
			height:40px;
			border: 0;
		}
		body{
			background-color: #2b2727;
			font-family: 'Arial';
		}
		label{
			font-size: 100%;
		}
		input{
			font-size: 150%;
		}
		#signupPage{
                        
			background-color: white;
			width: 350px;
			padding-bottom: 25px;
			padding-top: 12.5px;
			box-shadow:10px 10px 30px black;  
		}
		#submitButton{
			font-family: 'Arial';
			background-color: #5eadb0;
			border: 0;
			color: white;
			height:50px;
			width:300px;
			text-align: center;
			font-weight: bold;
			display: inline-block;
			font-size:  28px;
		}
                #submitButton:disabled{
                        background-color: #80a7a9;
                }
		#submit:hover {
			background-color: #00b7bc;
		}
		#submit:focus {
			border: 0;
		}
		a:visited{
			color: #0000EE;
		}
                #captial{
                        font-size:12px;
                }
                #numbers{
                        font-size:12px;
                }
                #spchar{
                        font-size:12px;
                }
                #errorLabel{
                        font-size:12px;
                }
        </style>
        <script>
                let i = 0;
                let passwordsMatch = true;
                
                let globalpasswordStrength = true;
                
                function run() {
                        let p1 = document.getElementById("create_password").value;
                        let p2 = document.getElementById("confirm_password").value;
                        if(p1 === p2){
                                document.getElementById("errorLabel").innerHTML = "";
                                passwordsMatch = true;
                                if(passwordsMatch && globalpasswordStrength === true){
                                        document.getElementById("submitButton").disabled = false; 
                                }

                        }else{
                                document.getElementById("errorLabel").innerHTML = "Passwords do not match";
                                passwordsMatch = false;
                        }
                }
                
                function passwordStrength(){
                        let numbers = true;
                        let spChar = true;
                        let capital = true;
                        let tempVal = document.getElementById("create_password").value.length*10;
                        
                        if(document.getElementById("create_password").value.length*10 > 100){
                                tempVal=100;
                        }
                        document.getElementById("myBar").style.width = (tempVal) + "%";
                        if(tempVal < 80){
                                disableButton = true;
                        }
                        let pattern = new RegExp(/[~`!#$%\^&*+=\-\@#$%^[\]\\';,/{}|\\":<>\?]/);
                        if (!pattern.test(document.getElementById("create_password").value)) {
                                if(!document.getElementById("spchar")){
                                        createErrorMessage("Please use at least 1 special character","spchar");
                                }
                                numbers = false;
                        }else{
                                if(document.getElementById("spchar")){
                                        document.getElementById("spchar").remove();
                                }
                        }
                        let pattern2 = new RegExp(/\d/); //unacceptable chars
                        if (!pattern2.test(document.getElementById("create_password").value)) {
                                if(!document.getElementById("numbers")){
                                        createErrorMessage("Please use at least 1 number","numbers");
                                }
                                spChar = false;
                        }else{
                                if(document.getElementById("numbers")){
                                        document.getElementById("numbers").remove();
                                }
                        }
                        let pattern3 = new RegExp(/[A-Z]/); //unacceptable chars
                        if (!pattern3.test(document.getElementById("create_password").value)) {
                                if(!document.getElementById("captial")){
                                        createErrorMessage("Please use at least 1 Upper case letter","captial");
                                }
                                capital = false;
                        }else{
                                if(document.getElementById("captial")){
                                        document.getElementById("captial").remove();
                                }
                        }
                        if(numbers === false || capital === false || spChar=== false){
                                document.getElementById("myBar").style.backgroundColor = "red";
                                document.getElementById("submitButton").disabled = true;
                                globalpasswordStrength = false;
                        }else{
                                globalpasswordStrength = true;
                                if(passwordsMatch){
                                        document.getElementById("submitButton").disabled = false;
                                }
                                document.getElementById("myBar").style.backgroundColor = "green";
                        }
                }
                function createErrorMessage(message,elementID){
                        if(!document.getElementById(elementID)){
                                        let errorMsg = document.createElement("p");
                                        errorMsg.innerHTML = message;
                                        errorMsg.style.color = "red";
                                        errorMsg.id = elementID;
                                        insertAfter(document.getElementById("errorMsgs"),errorMsg);
                        }
                }
                function insertAfter(referenceNode, newNode) {
                        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
                }
        </script>
</head>
<body>
        <center><h1 style="font-size:42px;padding-top:0px;color: white; text-shadow: 4px 4px black"">Driver Hub</h1></center>
	
	<center style="padding-top:0px;">
                <div id="signupPage">
                <h1>Create an account</h1>
                <p>Already have an account? <a href = "/login"  id="forgot">Sign in</a></p>
                <%if(userExists == "true") { %>
                        <h2 style="color:red;">Username is taken</h2>
                        <%}%>
                <form method="POST" action="/submit-form-signup" id="signupForm">
                        <input type="text" name="create_username" id="username" oninput="ifChanged()" placeholder = "username" required/><br><br>
                        <input type="text" name="first_name" id="firstname" oninput="ifChanged()" placeholder = "first name" required/><br><br>
                        <!--<label for="lastname">Last Name:</label><br>-->
                        <input type="text" name="last_name"  id="lastname" oninput="ifChanged()" placeholder = "last name" required/><br><br>
                        <!--<label for="text"  method="POST">New Username:</label><br>-->
                        <label for="birthday">Date of Birth:</label>
                        
                        <div style="width:300px;background-color:whitesmoke ;"> <input type="date" id="birthday" name="birthday"></div><br>
                        <!--<label for="email" >Email Address:</label><br>-->
                        <input type="email" name="email" id = "email" oninput="ifChanged()" placeholder = "email address" pattern=".+@*.com" required/><br><br>
                        <!--<label for="password">Create Password:</label><br>-->
                        <input type="password" name="create_password" oninput="run(); passwordStrength(); ifChanged();" id="create_password" placeholder = "password" required/><br><br>
                        <label id="errorMsgs">Password Strength</label>

                        <div id="myProgress">
                                <div id="myBar" style="text-align: left;"></div>
                              </div>

                              <label for="password">Confirm Password:</label><br><br>
                        <label for="errorLabel" id="errorLabel"></label><br><br>
                        <input type="password" name="confirm_password" oninput="run()" id="confirm_password" placeholder = "confirm password"/><br><br>
                        <label for="accountType">Account Type:</label><br><br>
                        <select id="accountType" name="accountType" style="width:300px;height:50px;font-size: 150%;">
                                <option value="driver">Driver</option>
                                <option value="admin">Admin</option>
                                <option value="sponsor">Sponsor</option>
                        </select><br><br>
                        <button type="submit" id="submitButton" disabled="true">Sign up</button>
                </form>
                </div>
        </center>



</body>
</html>
